* {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 7px;
    margin-right: 7px;
}


.navbar {
    background-color: transparent;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.textMenu {
    display: flex;
    justify-content: center;
    text-anchor: middle;
    align-items: center;
    gap: 20px;
}

.centerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dirColumn {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 5px;
}

.subMenu {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.subMenu p {
    margin: 3px;
    color: rgb(255, 149, 0);
}

.neg{
    font-style: oblique;
}

.bb {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    background-color: gold;
    border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

}

.butt {
    flex-direction: column;
    align-items: end;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
}

.divCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.card {
    text-align: center;
    margin: 25px;
    margin-top: 100px;
    width: 200px;
    height: 250px;
    background-color: rgb(255, 231, 75);
}

input,
ul.submenu {
    display: none;
}


label {
    position: relative;
    display: block;
    cursor: pointer;
}


input:checked~ul.submenu {
    display: block;
}

a {
    text-decoration: none;
}

.columnMenu {
    flex-direction: column;
}

.search-bar {
    display: block;
}

.cerca {
    display: flex;
    align-items: center;
    gap: 3px;
}

.lupa {
    width: 20px;
    height: 20px;
}

footer{
    background-color: rgb(255, 168, 55);
    height: 550px;
    width: 100%;
}
